@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
